body {
  padding: 10px;
  height: 200px;
  width: 300px;
  font-family: Helvetica, Ubuntu, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  margin: .2em;
  font-size: 2em;
}
p {
  margin: .3em;
}

.environment {
  transition: background-color 0.2s ease;
  display: inline-block;
  padding: .5em .7em;
  border-radius: 2em;
  border: 1px solid #ccc;
  margin: .5em;
  cursor: pointer;
}

.environment:hover {
  background-color: #e9e9e9;
}

.environment.active {
  background-color: #0766cb;
  border: 1px solid #fff;
  color: white;
}

.environment.active:hover {
  background-color: #4f9cee;
}

.environment.disabled {
  display: none;
}
